/****************************************
 * main.scss
 ****************************************/
/* line 9, scss/main.scss */
html {
  font-family: "chaparral-pro",sans-serif;
  font-weight: 400;
}

/* line 14, scss/main.scss */
body {
  margin: 0;
  font-size: 62.5%;
}

/* line 19, scss/main.scss */
h2, h3, a, button, input[type="submit"], label {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
}

/* line 23, scss/main.scss */
h2 {
  font-size: 3.6em;
  text-align: center;
  color: #b33447;
}

/* line 28, scss/main.scss */
h3 {
  font-size: 2.4em;
}

/* line 31, scss/main.scss */
a {
  text-decoration: none;
  display: inline-block;
}

/* line 36, scss/main.scss */
p, li, a {
  font-size: 2em;
  line-height: 1.5em;
}

/* line 40, scss/main.scss */
button, input[type="submit"] {
  text-transform: uppercase;
  padding: 16px 20px;
  background: transparent;
  border: 1px solid white;
}
/* line 46, scss/main.scss */
button:hover, input[type="submit"]:hover {
  background: white;
  color: transparent;
}

/* line 54, scss/main.scss */
form p label {
  display: block;
  margin-top: 20px;
}
/* line 58, scss/main.scss */
form p input[type="text"] {
  height: 44px;
  display: block;
}
/* line 63, scss/main.scss */
form p input, form p textarea {
  width: 100%;
}
/* line 66, scss/main.scss */
form p textarea {
  resize: none;
}

/* line 72, scss/main.scss */
nav {
  position: relative;
  width: 100%;
  height: 70px;
}
/* line 76, scss/main.scss */
nav a {
  font-weight: 700;
  line-height: 70px;
}
/* line 79, scss/main.scss */
nav a#logo {
  max-width: 60px;
}
/* line 81, scss/main.scss */
nav a#logo img {
  display: block;
  width: 100%;
}

/* line 88, scss/main.scss */
section {
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 93, scss/main.scss */
section p, section h2 {
  width: 68.085106383%;
  max-width: 640px;
  margin: 0 auto;
}
/* line 100, scss/main.scss */
section form {
  float: left;
  width: 48.936170213%;
}
/* line 106, scss/main.scss */
section .section-content {
  max-width: 940px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 112, scss/main.scss */
section.color-bg {
  background: #b33447;
}
/* line 114, scss/main.scss */
section.color-bg h2 {
  color: white;
}
/* line 117, scss/main.scss */
section.color-bg * {
  color: white;
}
/* line 121, scss/main.scss */
section#intro {
  min-height: 355px;
  padding-top: 100px;
}
/* line 124, scss/main.scss */
section#intro button {
  display: block;
  margin: 50px auto 0 auto;
}
/* line 128, scss/main.scss */
section#intro p {
  text-align: center;
}
/* line 135, scss/main.scss */
section#services ul {
  max-width: 940px;
  width: 68.085106383%;
  max-width: 640px;
  margin: 0 auto;
}
/* line 146, scss/main.scss */
section#tools .section-content div {
  float: left;
  width: 31.70212766%;
  margin-left: 2.0744680851%;
}
/* line 150, scss/main.scss */
section#tools .section-content div:nth-child(2) {
  margin-left: 0px;
}
/* line 159, scss/main.scss */
section#company h2, section#company h3, section#company p {
  text-align: center;
  margin: 0 auto;
}
