/****************************************
 * main.scss
 ****************************************/
/* line 9, scss/main.scss */
html {
  font-family: "chaparral-pro",sans-serif;
  font-weight: 400;
}

/* line 14, scss/main.scss */
body {
  margin: 0;
  font-size: 62.5%;
}

/* line 19, scss/main.scss */
h2, h3, a, button, input[type="submit"] {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
}

/* line 23, scss/main.scss */
a {
  text-decoration: none;
  display: inline-block;
}

/* line 27, scss/main.scss */
p, h2 {
  max-width: 640px;
  margin: 0 auto;
}

/* line 31, scss/main.scss */
p, li, a {
  font-size: 2em;
  line-height: 1.5em;
}

/* line 35, scss/main.scss */
button, input[type="submit"] {
  text-transform: uppercase;
  padding: 16px 20px;
  background: transparent;
  border: 1px solid white;
}

/* line 44, scss/main.scss */
form p label {
  display: block;
}
/* line 50, scss/main.scss */
form p textarea {
  resize: none;
}

/* line 56, scss/main.scss */
nav {
  position: relative;
  width: 100%;
  height: 70px;
}
/* line 60, scss/main.scss */
nav a {
  font-weight: 700;
  line-height: 70px;
}
/* line 63, scss/main.scss */
nav a#logo {
  max-width: 60px;
}
/* line 65, scss/main.scss */
nav a#logo img {
  display: block;
  width: 100%;
}

/* line 72, scss/main.scss */
section {
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 77, scss/main.scss */
section form {
  float: left;
}
/* line 81, scss/main.scss */
section.color-bg {
  background: #b33447;
}
/* line 83, scss/main.scss */
section.color-bg * {
  color: white;
}
/* line 87, scss/main.scss */
section#intro {
  min-height: 355px;
  padding-top: 100px;
}
/* line 90, scss/main.scss */
section#intro button {
  display: block;
  margin: 50px auto 0 auto;
}
/* line 94, scss/main.scss */
section#intro p {
  text-align: center;
}
/* line 101, scss/main.scss */
section#services ul {
  max-width: 940px;
  width: 68.085106383%;
  max-width: 640px;
  margin: 0 auto;
}
/* line 111, scss/main.scss */
section#tools .section-content {
  max-width: 940px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 116, scss/main.scss */
section#tools .section-content div {
  float: left;
  width: 31.70212766%;
  margin-left: 2.0744680851%;
}
/* line 120, scss/main.scss */
section#tools .section-content div:nth-child(2) {
  margin-left: 0px;
}
/* line 129, scss/main.scss */
section#company h2, section#company h3 {
  text-align: center;
}
