@charset "UTF-8";
/****************************************
 * main.scss
 ****************************************/
/* line 10, scss/main.scss */
html {
  font-family: "chaparral-pro", sans-serif;
  font-weight: 300;
}

/* line 14, scss/main.scss */
body {
  margin: 0;
  font-size: 62.5%;
  color: #494844;
}

/* line 19, scss/main.scss */
h2, h3, a, button, input[type="submit"], label {
  font-family: 'brandon-grotesque', sans-serif;
  font-weight: 400;
}

/* line 23, scss/main.scss */
h2 {
  font-size: 3.6em;
  text-align: center;
  color: #b33447;
  text-transform: uppercase;
}

/* line 30, scss/main.scss */
h3 {
  font-size: 2.4em;
}

/* line 33, scss/main.scss */
a {
  text-decoration: none;
  display: inline-block;
}

/* line 37, scss/main.scss */
p, li, a, address {
  font-size: 2em;
  line-height: 1.5em;
}

/* line 41, scss/main.scss */
button, input[type="submit"] {
  text-transform: uppercase;
  padding: 16px 20px;
  background: transparent;
  border: 1px solid white;
  color: white;
}
/* line 48, scss/main.scss */
button:hover, input[type="submit"]:hover {
  background-color: white;
  color: #b33447;
  cursor: pointer;
  border: 1px solid white;
}

/* line 57, scss/main.scss */
form p label {
  display: block;
  margin-top: 20px;
}
/* line 61, scss/main.scss */
form p input[type="text"] {
  height: 44px;
  display: block;
  color: #b33447;
}
/* line 66, scss/main.scss */
form p input, form p textarea {
  width: 100%;
  border: 0;
}
/* line 70, scss/main.scss */
form p textarea {
  resize: none;
}

/* line 75, scss/main.scss */
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 70px;
  padding-left: 4.5%;
  background-color: white;
}
/* line 85, scss/main.scss */
nav a {
  font-weight: 700;
  display: inline-block;
  height: 70px;
  color: #b33447;
  font-size: 1.6em;
  margin-right: 45px;
  float: left;
  line-height: 70px;
}
/* line 94, scss/main.scss */
nav a:hover {
  color: #fb9f00;
}
/* line 98, scss/main.scss */
nav a#logo {
  max-width: 60px;
  margin-top: 20px;
}
/* line 103, scss/main.scss */
nav a#logo img {
  display: block;
  width: 100%;
}

/* line 110, scss/main.scss */
section {
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 116, scss/main.scss */
section p, section h2 {
  width: 68.085106383%;
  max-width: 640px;
  margin: 0 auto 45px auto;
}
/* line 122, scss/main.scss */
section .section-content {
  max-width: 940px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 127, scss/main.scss */
section.color-bg {
  background: #b33447;
}
/* line 130, scss/main.scss */
section.color-bg h2 {
  color: white;
}
/* line 133, scss/main.scss */
section.color-bg * {
  color: white;
}
/* line 137, scss/main.scss */
section#intro {
  min-height: 355px;
  padding-top: 100px;
}
/* line 141, scss/main.scss */
section#intro button {
  display: block;
  margin: 50px auto 0 auto;
}
/* line 145, scss/main.scss */
section#intro p {
  text-align: center;
}
/* line 151, scss/main.scss */
section#services h2 {
  margin-bottom: 65px;
}
/* line 154, scss/main.scss */
section#services h3 {
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}
/* line 159, scss/main.scss */
section#services ul {
  max-width: 940px;
  width: 68.085106383%;
  max-width: 640px;
  margin: 0 auto 65px auto;
}
/* line 165, scss/main.scss */
section#services ul li {
  list-style-type: none;
  padding-left: 1em;
  text-indent: -0.55em;
}
/* line 169, scss/main.scss */
section#services ul li:before {
  content: "• ";
  color: #b33447;
  /* or whatever color you prefer */
}
/* line 178, scss/main.scss */
section#tools .section-content p {
  margin-left: 0;
  width: 100%;
}
/* line 182, scss/main.scss */
section#tools .section-content div {
  float: left;
  width: 31.70212766%;
  margin-left: 2.0744680851%;
}
/* line 188, scss/main.scss */
section#tools .section-content div:nth-child(2) {
  margin-left: 0px;
}
/* line 194, scss/main.scss */
section#company {
  background: #f8f7ee;
}
/* line 196, scss/main.scss */
section#company h2, section#company h3, section#company p {
  text-align: center;
  margin: 0 auto;
}
/* line 200, scss/main.scss */
section#company h2 {
  margin-bottom: 45px;
}
/* line 203, scss/main.scss */
section#company p {
  margin-bottom: 65px;
}
/* line 208, scss/main.scss */
section#contact address {
  font-style: normal;
}
/* line 211, scss/main.scss */
section#contact form {
  float: left;
  width: 48.936170213%;
}
/* line 215, scss/main.scss */
section#contact form p {
  width: 100%;
}
/* line 220, scss/main.scss */
section#contact .locations {
  float: right;
  width: 44.382978723%;
}
