/****************************************
 * main.scss
 ****************************************/

$red: #b33447;
$yellow: #fb9f00;
$tan: #f8f7ee;
$grey: #494844;

html {
	font-family: "chaparral-pro", sans-serif;
	font-weight: 300;
}
body {
	margin: 0;
	font-size: 62.5%;
	color:$grey;
}
h2, h3, a, button, input[type="submit"], label {
	font-family: 'brandon-grotesque', sans-serif;
	font-weight: 400;
}
h2 {
	font-size: 3.6em;
	text-align: center;
	color: $red;

	text-transform: uppercase;
}
h3 {
	font-size: 2.4em;
}
a {
	text-decoration: none;
	display: inline-block;
}
p, li, a, address {
	font-size: 2em;
	line-height: 1.5em;
}
button, input[type="submit"] {
	// font-size: 1.6em;
	text-transform: uppercase;
	padding: 16px 20px;
	background: transparent;
	border: 1px solid white;
	color:white;
	&:hover {
		background-color: white;
		color: $red;
		cursor: pointer;
		border:1px solid white;
	}
}
form {
	p {
		label {
			display: block;
			margin-top: 20px;
		}
		input[type="text"] {
			height: 44px;
			display: block;
			color:$red;
		}
		input, textarea {
			width: 100%;
			border:0;
		}
		textarea {
			resize: none;
		}
	}
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 70px;
	padding-left:4.5%;
	background-color: white;

	a {
		font-weight: 700;
		display: inline-block;
		height: 70px;
		color: $red;
		font-size: 1.6em;
		margin-right: 45px;
		float: left;
		line-height: 70px;
    	&:hover{
    		color:$yellow;
    	}

		&#logo {
			max-width: 60px;
			margin-top: 20px;
			
			
			img {
				display: block;
				width: 100%;
			}
		}
	}
}
section {
	position: relative;
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 50px;

	p, h2 {
		width: 68.085106383%;
		// 640px
		max-width: 640px;
		margin: 0 auto 45px auto;
	}
	.section-content {
		max-width: 940px;
		margin: 0 auto;
		overflow: hidden;
	}
	&.color-bg {
		background: $red;

		h2 {
			color: white;
		}
		* {
			color: white;
		}
	}
	&#intro {
		min-height: 355px;
		padding-top: 100px;

		button {
			display: block;
			margin: 50px auto 0 auto;
		}
		p {
			text-align: center;
		}
	}
	&#services {
		//940 es lo maximo 640 px de esos 940px
		h2 {
			margin-bottom: 65px;
		}
		h3{
			max-width: 640px;
			margin: 0 auto;
			text-align: center;
		}
		ul {
			max-width: 940px;
			width: 68.085106383%;
			// 640px
			max-width: 640px;
			margin: 0 auto 65px auto;
			li{
				list-style-type: none;
				padding-left: 1em; 
    			text-indent: -0.55em;
				&:before{
					content: "• ";
    				color: $red; /* or whatever color you prefer */
				}
			}
		}
	}
	&#tools {
		.section-content {
			p {
				margin-left: 0;
				width: 100%;
			}
			div {
				float: left;
				width: 31.70212766%;
				//298/940px;
				margin-left: 2.0744680851%;

				&:nth-child(2) {
					margin-left: 0px;
				}
			}
		}
	}
	&#company {
		background: $tan;
		h2, h3, p {
			text-align: center;
			margin: 0 auto;
		}
		h2{
			margin-bottom: 45px;
		}
		p{
			margin-bottom: 65px;
		}
	}
	&#contact {
		address{
			font-style: normal;
		}
		form {
			float: left;
			width: 48.936170213%; 
			
			p{
				width: 100%;
			}
			//460 de 940px;
		}
		.locations {
			float: right;
			width: 44.382978723%;
		}
	}
}