/****************************************
 * main.scss
 ****************************************/
@import 'mixins';

$red: #b33447;
$yellow: #fb9f00;
$tan: #f8f7ee;
$grey: #494844;

/* animation variables */

$duration: 1s;
$delay: 0s;
$function: ease-out;
$fill: both;
$visibility: hidden;

@import 'animate/icons';
@import "animate/properties";
@import "animate/fadeInLeft";
@import "animate/fadeOutLeft";
@import "animate/fadeInRight";
@import "animate/fadeOutRight";

.fadeInLeft {
	@include fadeInLeft($duration, $delay, $function, $fill, $visibility);
}
.fadeOutLeft {
	@include fadeOutLeft($duration, $delay, $function, $fill, $visibility);
}
.fadeInRight {
	@include fadeInRight($duration, $delay, $function, $fill, $visibility);
}
.fadeOutRight {
	@include fadeOutRight($duration, $delay, $function, $fill, $visibility);
}

/* styles */

html {
	font-family: "chaparral-pro", sans-serif;
	font-weight: 300;
}
body {
	margin: 0;
	font-size: 62.5%;
	color:$grey;
}
body.en :lang(es) {
	display: none;
}
body.es :lang(en) {
	display: none;
}
h2, h3, a, button, input[type="submit"], label, span {
	font-family: 'brandon-grotesque', sans-serif;
	font-weight: 400;
}
h2 {
	font-size: 3.6em;
	text-align: center;
	color: $red;

	text-transform: uppercase;
}
h3 {
	font-size: 2.4em;
}
a {
	text-decoration: none;
	display: inline-block;
}
p, li, a, address {
	font-size: 2em;
	line-height: 1.5em;
}
button, input[type="submit"] {
	// font-size: 1.6em;
	text-transform: uppercase;
	padding: 16px 20px;
	background: transparent;
	border: 1px solid white;
	color:white;
	&:hover {
		background-color: white;
		color: $red;
		cursor: pointer;
		border:1px solid white;
	}
}
form {
	p {
		label {
			display: block;
			margin-top: 20px;
		}
		input[type="text"] {
			height: 44px;
			display: block;
			color:$grey;
			padding-left: 10px;
		}
		input, textarea {
			width: 100%;
			border:0;
		}
		textarea {
			resize: none;
			padding-left: 10px;
		}
	}
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 70px;
	padding-left:4.5%;
	background-color: white;
	box-sizing: border-box;

	a {
		float: left;
	}
	span {
		float: right;
	}
	a, span {
		font-weight: 700;
		display: inline-block;
		height: 70px;
		color: $red;
		font-size: 1.6em;
		margin-right: 45px;
		line-height: 70px;
		&:hover{
			cursor: pointer;
		}
    	&:hover, &.active{
    		color:$yellow;
    		
    	}
		&#logo {
			max-width: 60px;
			margin-top: 20px;
			img {
				display: block;
				width: 100%;
			}
		}
	}
	@include breakpoint(mobile) {
		display: none;
	}
}
section {
	position: relative;
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 50px;

	p, h2 {
		width: 68.085106383%; // 640px NO TOUCHY
		max-width: 640px;
		margin: 0 auto 45px auto;
	}
	.section-content {
		max-width: 940px;
		margin: 0 auto;
		overflow: hidden;
		@include breakpoint(mobile) {
			width: 80%;
		}
		@include breakpoint(tablet) {
			width: 90%;
		}
	}
	&.color-bg {
		background: $red;

		h2, p, h3, address{
			color: white;
		}
	}
	&#intro {
		min-height: 355px;
		padding-top: 100px;
		button {
			display: block;
			margin: 50px auto 0 auto;
		}
		p {
			text-align: center;
			margin-top: 65px;
		}
	}
	&#alliances{
		background: $tan;
		p{
			//float: left;
			margin-top: 0;
		
			img{
				display: block;
				margin:0 auto;
			}
		}
	}
	&#services {
		//940 es lo maximo 640 px de esos 940px
		.slides{
			position: relative;
			height: 100%;
			margin:0 auto;
			min-height: 500px;
			max-width: 940px;
			width: 68.085106383%; // 640px NO TOUCHY
			width: 100%;
			@include breakpoint(tablet) {
				min-height: 660px;
			}

			
		}
		h2 {
			margin-bottom: 65px;
		}
		h3{
			max-width: 640px;
			margin: 0 auto;
			text-align: center;
		}
		.slide, .clone {
			position: absolute;
			width: 100%;
			margin-top: 30px;
		}
		.dots{
			position: relative;
			z-index: 45;
			margin:0 auto;
			max-width: 640px;
			text-align: center;
			a{
				display: inline-block;
				width: 10px;
				height: 10px;
				background: $grey;
				border-radius: 50%;
				&.active{
					background: transparent;
					border: 1px solid $grey;
				}
			}
		}
		span {
			position: absolute;
			top:50%;
			z-index: 45;
			&:nth-of-type(1) {
				left:4.5%;
			}
			&:nth-of-type(2) {
				right:4.5%;
			}
			&:hover{
				cursor:pointer;
			}
		}
		ul {
			//max-width: 940px;
			//width: 68.085106383%; // 640px NO TOUCHY
			max-width: 640px;
			margin: 0 auto 65px auto;
			
			li{
				list-style-type: none;
				padding-left: 1em; 
    			text-indent: -0.55em;
				&:before{
					content: "• ";
    				color: $red;
				}
			}
			@include breakpoint(tablet) {
				margin:0 auto;
				max-width: 500px;
			}

		}
	}
	&#tools {
		
		.section-content {

			p {
				margin-left: 0;
				width: 100%;
			}
			div {
				float: left;
				max-width: 940px;
				width: 31.70212766%; //298/940px; NOOOOO TOUCHY
				margin-left: 2.0744680851%;

				&:nth-child(3) {
					margin-left: 0px;
				}
				
				@include breakpoint(mobile) {
					width: 100%;
					float: none;
					margin-left: 0%;
				}
			}
			@include breakpoint(mobile) {
				margin:0 auto;
				max-width: 500px;
			}
			
		}
	}
	&#company {
		background: $tan;
		h2, h3, p {
			text-align: center;
			margin: 0 auto;
		}
		h2{
			margin-bottom: 45px;
		}
		p{
			margin-bottom: 65px;
		}
	}
	&#contact {
		address{
			font-style: normal;
		}
		form {
			float: left;
			width: 48.936170213%;  //460 de 940px; NO TOUCHY
			p{
				width: 100%;
			}
			@include breakpoint(mobile) {
				width: 100%;
			}
		}
		.locations {
			float: right;
			width: 44.382978723%;
			@include breakpoint(mobile) {
				display: none;
			}
		}
	}
}